.banner {

    width: 100%;
    height: 65vh;
    color: white;
    object-fit: contain;
    letter-spacing: .01em;
}

.banner-contents {
    position: absolute;
    left: 6rem;
    padding-top: 9rem;

    .buttons {
        margin-top: 30px;

        button {
            cursor: pointer;
            padding: 0.5em 1em;
            margin-right: 1rem;
            border-radius: 0.2vw;
            border: none;
            color: #fff;
            background-color: rgba(163, 163, 163, 0.671);
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    p {
        height: 30px;
        margin-top: 30px;
        max-width: 400px;
    }
}


.black-shade {
    width: 100%;
    height: 65vh;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
}

@media(max-width:622px) {
    .banner-contents {
        max-width: 250px;
        left: 1rem;
        padding-top: 15rem;
        font-size: 0.7rem;
        letter-spacing: .01em;
    }
}